
#header {
    padding: 20px;
    float: left;
}

h1 {
   font-family: 'Gochi Hand', cursive;
}





.table {
    padding: 20px;
    
    font-family: 'Coming Soon', cursive;
}





table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Coming Soon', cursive;
}

th, td {
    padding: 15px;
    font-family: 'Coming Soon', cursive;
}

th {
    text-align: left;
    font-family: 'Coming Soon', cursive;
}

table {
    border-spacing: 5px;
}
