
body {
    background-image: url("bg.jpg");
}




#header {
    padding: 10px;
    text-align: center;
}



.table {
    padding: 30px;
    
}


.table2 {
    padding: 30px;
    
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td {
    padding: 15px;
   
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}
