
body {
    background-image: url("wwpainting4.jpg");
}

p {
    text-align: center;
    font-weight: bold;
}


#header {
    padding: 10px;
    text-align: center;
    font-family: 'Short Stack', cursive;
}



.table {
    padding: 20px;
    font-family: 'Short Stack', cursive;
    opacity: 0.97;
    background: transparent;
}


.table2 {
    padding: 20px;
    font-family: 'Short Stack', cursive; 
    opacity: 0.97;
    background: transparent;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td {
    padding: 15px;
    text-align: center;
   
}

th {
    text-align: center;
}

table {
    border-spacing: 5px;
}

tr:nth-child(even) {
	background-color: white;
}
tr:nth-child(odd) {
	background-color: #f2f2f2;
}

